@model Biblioteca.Models.BookModel
@{
    ViewBag.Title = "AddBook";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="create-label">
        @Html.LabelFor(model=>model.Name)
    </div>
    <div class="create-field">
        @Html.TextBoxFor(model=>model.Name)
    </div>

    <div class="create-label">
        @Html.LabelFor(model => model.ISBN)
    </div>
    <div class="create-field">
        @Html.TextBoxFor(model => model.ISBN)
    </div>
    
    <div class="create-label">
        @Html.LabelFor(model => model.ReleaseDate)
    </div>
    <div class="create-field">
        @Html.TextBoxFor(model => model.ReleaseDate)
    </div>
    <div class="create-label">
        @Html.LabelFor(model=>model.OnLoan)
    </div>
    <div class="create-field">
        @Html.TextBoxFor(model=>model.OnLoan)
    </div>
    <div class="create-label">
        @Html.LabelFor(model=>model.NrCopies)
    </div>
    <div class="create-field">
        @Html.TextBoxFor(model=>model.NrCopies)
    </div>
    <div class="create-label">
        @Html.LabelFor(model=>model.ShelfID)
    </div>
    <div class="create-field">
        @Html.TextBoxFor(model=>model.ShelfID)
    </div>
    <div>
        <label>Authors</label>
        <div>
            <select>
                <option value="@"
            </select>
           @Html.ListBox("Authors",ViewBag.Authors as MultiSelectList)
        </div>
    </div>
   
  

    <input type="submit" value="Add Book "/>
    @Html.ActionLink("Back", "Index")
}


