@model Biblioteca.ViewModels.BookAuthorViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

    <script type="text/javascript">

        function deleteAuthor(bid,aid) {
            $.ajax({
                type: "POST",
                url: 'DeleteBookAuthor',
                data: { bid: bid, aid: aid }


            }).done(function () {
                alert('Author Deleted');
            });

        }
  
        //$(document).ready({
        //    $("#btnminus").click(function(e){
        //        alert("calling ajax");
        //        //$.ajax({
        //        //    type: "POST",
        //        //    url: 'DeleteBookAuthor',
        //        //    data: { bid: bid, aid: aid }


        //        //}).done(function () {
        //        //    alert('Author Deleted');
        //        //});

        //    });
        //});
 
</script>  
 



@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary(true)
     <fieldset>
         <legend>Book</legend>
         @Html.HiddenFor(model=>model.Book.id)
      
         @Html.HiddenFor(model=>model.Book.shelf_id)
         <div class="editor-label">
             <label>Title</label>
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model=>model.Book.name)
             @Html.ValidationMessageFor(model=>model.Book.name)
         </div>

         <div class="editor-label">
             @Html.LabelFor(model=>model.Book.ISBN)
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model => model.Book.ISBN)
             @Html.ValidationMessageFor(model=>model.Book.ISBN)
         </div>

         <div class="editor-label">
             <label>Release Date</label>
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model => model.Book.release_date)
             @Html.ValidationMessageFor(model=>model.Book.release_date)
         </div>
         <div class="editor-label">
             <label>On Loan Qty</label>
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model => model.Book.on_loan)
             @Html.ValidationMessageFor(model=>model.Book.on_loan)
         </div>
         <div class="editor-label">
             <label>Nr Copies</label>
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model=>model.Book.nr_copies)
             @Html.ValidationMessageFor(model=>model.Book.nr_copies)
         </div>
         <hr />
         <div>
             <label>Authors</label>
         </div>
         @foreach (var author in Model.Authors)
         {
            <div>
                <table>
                    <tr>
                        <td><label>First Name</label></td>
                        <td><label>Last Name</label></td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(model => author.first_name)</td>

                        <td>@Html.TextBoxFor(model => author.last_name)</td>
                        <td><input type="button" value="-" onclick="deleteAuthor(@Model.Book.id,@author.id)"/></td>
                        
                    </tr>
                
                </table>
            </div>
         }
         <input type="button" value="+" />
         <hr />
         <p>
             <input type="submit" value="Save" />
         </p>

         
     </fieldset>  
      }
<div>
    
    @Html.ActionLink("Back to List", "Index")
</div>



