@model Biblioteca.ViewModels.BookAuthorViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<head>
    <script type="text/javascript">
        function sayHello() {
            alert("Hello");
        }
    </script>
</head>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary(true)
     <fieldset>
         <legend>Book</legend>
         @Html.HiddenFor(model=>model.Book.id)
      
         @Html.HiddenFor(model=>model.Book.shelf_id)
         <div class="editor-label">
             @Html.LabelFor(model=>model.Book.name)
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model=>model.Book.name)
             @Html.ValidationMessageFor(model=>model.Book.name)
         </div>

         <div class="editor-label">
             @Html.LabelFor(model=>model.Book.ISBN)
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model => model.Book.ISBN)
             @Html.ValidationMessageFor(model=>model.Book.ISBN)
         </div>

         <div class="editor-label">
             @Html.LabelFor(model => model.Book.release_date)
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model => model.Book.release_date)
             @Html.ValidationMessageFor(model=>model.Book.release_date)
         </div>
         <div class="editor-label">
             @Html.LabelFor(model => model.Book.on_loan)
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model => model.Book.on_loan)
             @Html.ValidationMessageFor(model=>model.Book.on_loan)
         </div>
         <div class="editor-label">
             @Html.LabelFor(model=>model.Book.nr_copies)
         </div>
         <div class="editor-field">
             @Html.TextBoxFor(model=>model.Book.nr_copies)
             @Html.ValidationMessageFor(model=>model.Book.nr_copies)
         </div>
         <div>
             <label>Authors</label>
         </div>
         @foreach (var author in Model.Authors)
         {
            <div>
                @Html.LabelFor(model=>author.first_name)
                @Html.TextBoxFor(model => author.first_name)
                @Html.LabelFor(model => author.last_name)
                @Html.TextBoxFor(model => author.last_name)
                <input type="button" value="-" onclick="sayHello()"/>
            </div>
         }


         <p>
             <input type="submit" value="Save" />
         </p>

         
     </fieldset>  
      }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>



