@model IEnumerable<Biblioteca.Models.BookModel>

@{
    ViewBag.Title = "Book";
}

<h2>Books</h2>

<div>
   
    <hr />
  


        <table style="width:600px;column-width:40px", class="table-striped table-bordered" >
            <tr>
                <th>Name</th>
                <th>ISBN</th>
                <th>Release Date</th>
                <th>Author</th>
                <th></th>
            </tr>
         
            @foreach (var book in Model)
            {
                <tr>
                   
                    <td>@Html.DisplayFor(item => book.Name)</td>
                    <td>@Html.DisplayFor(item => book.ISBN)</td>
                    <td>@Html.DisplayFor(item => book.ReleaseDate)</td>
                   
                    <td>
                        @foreach (var auth in book.authors)
                        {
                            @Html.DisplayFor(item => auth.FirstName) <span>&nbsp;</span>@Html.DisplayFor(item => auth.LastName)

                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = book.ID})
                        @Html.ActionLink("Delete", "Delete", new { id = book.ID })
                    </td>
                </tr>
                }
        </table>
</div>


    <!--<form method="post" action="">
        <table>
            Add a new book:
            <tr></tr>-->
  

<p>
    <hr/>
    <table>
        
        <tr>
            <td>@Html.ActionLink("New Book", "Create")</td>
        </tr>
    </table>
</p>
