@model IEnumerable<Biblioteca.Models.BookModel>

@{
    ViewBag.Title = "Book";
}

<h2>Books</h2>

<div>
   
    <hr />
  


        <table style="width:200px;column-width:40px" >
            <tr>
                <th>Name</th>
                <th>ISBN</th>
                <th>Release Date</th>
                <th>Author</th>
            </tr>
         
            @foreach (var book in Model)
            {
                <tr>
                   
                    <td>@Html.DisplayFor(item => book.Name)</td>
                    <td>@Html.DisplayFor(item => book.ISBN)</td>
                    <td>@Html.DisplayFor(item => book.ReleaseDate)</td>
                    @foreach (var auth in book.authors)
                    {                 
                    <td>@Html.DisplayFor(item => auth.FirstName)</td>
                    <td>@Html.DisplayFor(item => auth.LastName)</td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = book.ID})
                        @Html.ActionLink("Delete", "Delete", new { id = book.ID })

                    </td>
                </tr>


                    <!--<dt>
                       Html.DisplayFor(mode=>book.NrCopies)
                    </dt>
                    <dt>
                            Html.DisplayFor(model=>book.OnLoan)
                    </dt>
                    <dt>
                        Html.DisplayFor(model=>book.ShelfID)
                    </dt>-->
                }
            

           
        </table>

</div>


    <!--<form method="post" action="">
        <table>
            Add a new book:
            <tr></tr>-->
  

<p>
    <hr/>
    <table>
        <tr>
        <td>@Html.ActionLink("Add a new book", "AddBook")</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Add a new author","AddAuthor","Author")</td>
        </tr>
    </table>
</p>
